* {
    margin: 0px;


}

body{
    background-color: #ff008c

}

.header {
    display: flex;
    background-color: #004b95;
    height: 80px;
    box-shadow: 0px 0px 10px rgb(93, 45, 45)
    
}
#forma{
    height: 250px;
  
}
